certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.1
Flask-WTF==0.15.1
fpdf==1.7.2
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
pdfminer.six==20200517
pdfplumber==0.5.28
Pillow==8.3.0
pycryptodome==3.10.1
python-docx==0.8.11
python-dotenv==0.17.1
python-magic==0.4.24
reportlab==3.5.68
requests==2.25.1
sortedcontainers==2.4.0
urllib3==1.26.6
Wand==0.6.6
Werkzeug==2.0.1
WTForms==2.3.3
