<!DOCTYPE html>
<html>
    <head>
        <title>CV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cvstyle.css') }}">

    </head>

    <body>
        <div class="inner">
            <!--intro-->
            <div id="intro" class="section color1 intro" style="padding-bottom: 2em;">
                <h1 style="display: inline;">JAY SHEN</h1>
                <i style="color:grey">student</i>
                <div>
                    <div>
                        <a href="mailto:jshe2304@gmail.com">jshe2304@gmail.com</a>
                    </div>

                    <div>
                        424 254 6288
                    </div>
                    
                    <div>
                        <a href="https://www.jshen.org" target="_blank">www.jshen.org</a>
                    </div>
                </div>

                <!--
                <div>
                    <div class="nav">
                        <span style="margin:0">skip to</span>
                        <u style="margin-left:1em; margin-right:1em" onClick="document.getElementById('education').scrollIntoView();">EDUCATION</u>
                        <u style="margin-left:1em; margin-right:1em" onClick="document.getElementById('experience').scrollIntoView();">EXPERIENCE</u>
                        <u style="margin-left:1em; margin-right:1em" onClick="document.getElementById('skills').scrollIntoView();">SKILLS</u>
                        <u style="margin-left:1em; margin-right:1em" onClick="document.getElementById('misc').scrollIntoView();">SELECTED ENDEAVORS, INTERESTS, EXPERIENCES, AND INSUBSTANTIAL OBSESSIONS</u>
                    </div>
                </div>
                -->
            </div>

            <!--education section-->
            <div id="education" class="section color2">
                <h3 class="collapsible">EDUCATION</h3>
                

                <div class="content">
                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">palos verdes peninsula high school</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    completed coursework
                                </div>
                                <div class="courses-grid-right">
                                    <div>
                                        <div class="nowrap">
                                            ap physics one <i style="color:grey">5</i>
                                        </div>
                                        <div class="nowrap">
                                            ap chemistry <i style="color:grey">5</i>
                                        </div>
                                        <div class="nowrap">
                                            ap computer science a <i style="color:grey">5</i>
                                        </div>
                                        <div class="nowrap">
                                            ap calculus ab <i style="color:grey">5</i>
                                        </div>
                                        <div class="nowrap">
                                            ap language <i style="color:grey">5</i>
                                        </div>
                                        <div class="nowrap">
                                            ap us history <i style="color:grey">5</i>
                                        </div>
                                        <div class="nowrap">
                                            ap psychology <i style="color:grey">5</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    ongoing coursework
                                </div>
                                <div class="courses-grid-right">
                                    <div>
                                        
                                        <div class="nowrap">
                                            ap physics c mechanics <i style="color:grey">A</i>
                                        </div>
                                        <div class="nowrap">
                                            ap physics c e&m <i style="color:grey">self-studying</i>
                                        </div>
                                        <div class="nowrap">
                                            ap literature <i style="color:grey">B</i>
                                        </div>
                                        <div class="nowrap">
                                            ap statistics <i style="color:grey">A</i>
                                        </div>
                                        <div class="nowrap">
                                            ap studio art 2d <i style="color:grey">A</i>
                                        </div>
                                        <div class="nowrap">
                                            ap economics <i style="color:grey">A</i>
                                        </div>
                                        <div class="nowrap">
                                            ap government <i style="color:grey">A</i>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="courses-grid color2a">
                                
                                <div class="courses-grid-left">
                                    sports
                                </div>

                                <div class="courses-grid-right">
                                    <div>

                                        
                                        
                                        <div class="nowrap">
                                            lacrosse (co-captain)
                                        </div>

                                        <div class="nowrap">
                                            soccer
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="courses-grid color2a">
                                
                                <div class="courses-grid-left">
                                    cyberpatriot
                                </div>

                                <div class="courses-grid-right">
                                    <div>
                                        <div class="nowrap">
                                            three year team captain
                                        </div>

                                        <div class="nowrap">
                                            linux division leader
                                        </div>

                                        <div class="nowrap">
                                            consistently top 50 nationally
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="courses-grid color2a">
                                
                                <div class="courses-grid-left">
                                    miscellaneous
                                </div>

                                <div class="courses-grid-right">
                                    <div>
                                        <div class="nowrap">
                                            physics team/club
                                        </div>

                                        <div class="nowrap">
                                            chemistry team
                                        </div>

                                        <div class="nowrap">
                                            coding/python club
                                        </div>

                                        <div class="nowrap">
                                            assorted clubs and honor societies
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 0; margin-top: 1em">ucla</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    completed coursework
                                </div>
                                <div class="courses-grid-right">
                                    <div>
                                        <div class="nowrap">
                                            intro to cad <i style="color:grey">A/A</i>
                                        </div>
                                        <div class="nowrap">
                                            physics 1a <i style="color:grey">A/A</i>
                                        </div>
                                        <div class="nowrap">
                                            math 32B (multi integration) <i style="color:grey">A/B</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--experience section-->
            <div id="experience" class="section color1">
                <h3 class="collapsible">EXPERIENCE</h3>

                <div class="content">
                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">software engineering intern</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    paragon global textiles
                                </div>
                                <div class="courses-grid-right">
                                    coded full-stack website for small business. advised on relevant, modern web designs/aesthetics. 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">technology & web design advisor, VP</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    aec foundation
                                </div>
                                <div class="courses-grid-right">
                                    leader and mentor of a small team of volunteers developing various activism websites, such as for special education or water quality. 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">computer science instructor</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    self-employed
                                </div>
                                <div class="courses-grid-right">
                                    <p style="margin:0">ran a free, online Python class.</p>
                                    <p>at one point involved nearly 50 students & several student tutors.</p>
                                    <p>avant-garde education model starts with a self-proposed project, followed by a quick introduction to basic syntax and capabilities of Python, then an intensive work period where students acquire skills by fulfilling their projects, learning as they go. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">participant in local entrepreneurship collective</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    yea! foundation
                                </div>
                                <div class="courses-grid-right">
                                    <p style="margin:0">Patented a small bracket to prevent laptop/phone chargers from falling out loose sockets (US Provisional Patent Application No. 63/086752); Won second place, $500 in yearly competition</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--skills section-->
            <div id="skills" class="section color2">
                <h3 class="collapsible">SKILLS</h3>

                <div class="content">

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">python</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                flask web framework & jinja2
                            </div>
                            <div class="skills color2a">
                                matplotlib, seaborn, numpy, pandas
                            </div>
                            <div class="skills color2a">
                                requests
                            </div>
                            <div class="skills color2a">
                                pil
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">java</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                javafx
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">other languages</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                well versed in html, css, javascript
                            </div>
                            <div class="skills color2a">
                                minimal c, c++, cuda
                            </div>
                            
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">aws</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                eb2, s3, dynamodb
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">linux</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                advanced shell usage
                            </div>
                            <div class="skills color2a">
                                extensive os, network hardening
                            </div>
                            <div class="skills color2a">
                                ssh, samba, ftp, vsftpd, pure-ftpd usage/hardening
                            </div>
                            <div class="skills color2a">
                                bash scripting
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">cybersecurity</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                extensive linux, moderately extensive windows & windows server hardening
                            </div>
                            <div class="skills color2a">
                                oauth, https, ssl
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">cad</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                solidworks design, drafting, fea optimization, rendering
                            </div>
                            <div class="skills color2a">
                                fusion 360 design, drafting, rendering
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--misc section-->
            <div id="misc" class="section color1">
                <h3 class="collapsible nowrap">SELECTED ENDEAVORS, INTERESTS, AND INSUBSTANTIAL OBSESSIONS</h3>

                <div class="content">

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">selected project</h4>
                        </div>

                        <div>
                            <div class="courses-grid color2a">
                                <div class="courses-grid-left">
                                    "statify"
                                </div>
                                <div class="courses-grid-right">
                                    <p style="margin:0">spotify statistics/functions site. playlist analyses and visualizations. various tools for combining, sorting, etc. currently working on tools to analyze data you can request from spotify using gdpr laws. </p>
                                    <p>in progress website up <a href="https://www.jshen.org/spotify" target="_blank">here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-grid inner-section">
                        <div class="nowrap">
                            <h4 style="margin-right: 5em; margin-top: 1em">some interests</h4>
                        </div>

                        <div>
                            <div class="skills color2a">
                                programming and web development, evidently
                            </div>
                            <div class="skills color2a">
                                physics, especially quantum information and condensed matter
                            </div>
                            <div class="skills color2a">
                                <a href="https://open.spotify.com/user/fro8ozz" target="_blank">music</a>
                            </div>
                            <div class="skills color2a">
                                rock climbing
                            </div>
                            <div class="skills color2a">
                                electronics, especially various types of homemade transducers
                            </div>
                            <div class="skills color2a">
                                data science
                            </div>
                            <div class="skills color2a">
                                <a href="/gallery/spotifyhours.png" target="_blank">visualizations</a>
                            </div>
                            <div class="skills color2a">
                                <a href="/gallery/flux.png" target="_blank">art</a> of various mediums and themes
                            </div>
                            <div class="skills color2a">
                                occasionally writing music reviews on <a href="https://www.rateyourmusic.com" target="_blank">rateyourmusic.com</a>
                            </div>
                            <div class="skills color2a">
                                economic inequality due to natural and <a href="https://www.google.com/maps/@34.153442,-118.2376395,779m/data=!3m1!1e3" target="_blank">man-made geography</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        

        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                } 
              });
            }
        </script>
    </body>
</html>