{% extends "base.html" %}

{% block content %}
    <div>
        <div class="inner">
            <h2>{{ username }}</h2>

            <div>
                <input type="button" value="combine items" onclick="location.href='/spotify-playlist-utilities/{{ username }}/combine';"/>
            </div>

            <div class="grid-container">

                {% if playlists|length != 0 %}
                    <div class="public-playlists">
                        
                            {% if public|length != 0 %}
                                <h3>public playlists</h3>
                                {% for playlist in public %}
                                    <div class="center-vertical">
                                        {% set id = playlist['id'] %}
                                        {% if playlist['images']|length != 0 %}
                                            {% set img_url = playlist['images'][0]['url'] %}
                                            <input type="image" src="{{ img_url }}" alt="Playlist" class="library-playlist" onclick="location.href='/spotify-playlist-utilities/{{ username }}/{{ id }}';" width=50px height=50px>
                                        {% endif %}
                                            <a href='/spotify-playlist-utilities/{{ username }}/{{ id }}'>{{ playlist['name'] }}</a>
                                    </div>
                                {% endfor %}
                        {% endif %}
                    </div>

                    <div class="private-playlists">
                        {% if private|length != 0 %}
                            <h3>private playlists</h3>
                            {% for playlist in private %}
                                <div class="center-vertical">
                                    {% set id = playlist['id'] %}
                                    {% set img_url = playlist['images'][0]['url'] %}
                                    <input type="image" src="{{ img_url }}" alt="Playlist" class="library-playlist" onclick="location.href='/spotify-playlist-utilities/{{ username }}/{{ id }}';" width=50px height=50px>
                                    <a href='/spotify-playlist-utilities/{{ username }}/{{ id }}'>{{ playlist['name'] }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                {% else %}
                    <h2>No Playlists</h2>
                {% endif %}

                <div class="albums">
                    {% if albums|length != 0 %}
                        <h3>albums</h3>
                        {% for album in albums %}
                            {% set img_url = album['images'][0]['url'] %}
                            {% set info_link = album['external_urls']['spotify'] %}

                            {% set title = album['name'] %}

                            <input type="image" src="{{ img_url }}" title='{{ title }}' alt="{{ title }}" onclick="location.href='{{ info_link }}';" width=75px height=75px>
                        {% endfor %}

                    {% else %}
                        <h2>No Saved Albums</h2>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}