{% extends "base.html" %}

{% block content %}
    <div>
        <div class="inner">
            <div>
                log in to your spotify account for analysis and various tools
                <div>
                    <input type="button" class="link-button" onclick="location.href='/spotify/login';" value="log in">
                </div>
            </div>

            <div style="margin-top: 2em">
                note: the below is underconstruction, click to witness nothing
                <div>
                    <input type="button" class="link-button" onclick="location.href='/spotify/gdpr';" value="streaming history analysis">
                </div>
            </div>
        </div>
    </div>
{% endblock %}