{% extends "base.html" %}

{% block content %}
    <div>
        <div class="inner">
            <h1>Combine Playlists/Albums</h1>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                
                <div>
                    {% for field in form if field.widget.input_type != 'hidden'%}
                        <div>
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endfor %}
                    

                </div>

                <div>
                    <input id="submit" name="submit" type="submit" value="Combine">
                </div>

            </form>
        </div>
    </div>
{% endblock %}