{% extends "base.html" %}

{% block content %}
    <div>
        <h3>{{ playlist_name }}</h3>
        
        <div>
            <input type="button" value="some playlist tools" onclick="location.href='/spotify/{{ username }}/{{ id }}/utilities';"/>
        </div>
        
        {% for plot in plots %}
            <div>

                <div class="plot">
                    <div>
                        <div>
                            <h3>{{ plot['title'] }}</h3>
                        </div>

                        <div>
                            <img src="data:image/png;base64,{{ plot['plot'] }}" alt='plot'/>
                        </div>
                        
                        {% if plot['description'] != '' %}
                            <div>
                                {{ plot['description'] }}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="center-vertical">
                        <div>
                            {% for figure in plot['figures'] %}
                                <div>
                                    <h4>{{ figure }}</h4>
                                    {{ plot['figures'][figure] }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                
                
                
            </div>
        {% endfor %}

    </div>
{% endblock %}