html, body {
    padding: 0;
    margin: 0;

    background-color: rgb(60, 60, 60);

    font-family: Calibri;
    color: white;

    scroll-behavior: smooth;

    position: relative;
    min-height: 100vh;
}

div.center-vertical {
    display:flex;
    align-items:center;
    width:50%;
    font-size:1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.navbar {
    background-color : rgb(60, 69, 89);
    
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

div.content {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

div.inner {
    background-color: rgb(30, 30, 30);

    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    width: 50%;
    min-width: 25em;

    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

div.standout {
    background-color: rgb(50, 50, 50);
    padding: 1em;
    padding-right: 1.5em;
    display: inline-block;
    border-radius: 1em;
}

div.section {
    margin-top: 1em;
}

a {
    margin-left: 1em;
}

input[type=button], input[type=submit], input[type=file].button {
    background-color: rgb(108, 127, 144);
    
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 1em 1em;
    border: none;
    border-radius: 0.5em;
}

input[type=button], input[type=submit], input[type=file].button :hover {
    background-color: rgb(88, 107, 124);
}

details {
    margin: 1em;
}

#help summary {
    font-size: 20px;
    font-weight: bold;
}

:is(h1, h2, h3, h4, h5, h6) {
    color : rgb(178, 197, 214)
}

footer {
    background-color : rgb(60, 69, 89);

    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
    margin:auto;
    margin-top: 2rem;

    position: fixed;
    bottom: 0;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;  
}

a {
    text-decoration: none;
    color: white;
}

.tooltip {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;

    -moz-border-radius: 0.75em; /* or 50% */
    border-radius: 0.75em; /* or 50% */

    margin-left: 2em;

    text-align: center;
    
    background-color: rgb(50, 50, 50);
    font-size: 0.75em;
}
  
.tooltip .tooltiptext {
    content: " ";
    margin-left: 2em;
    line-height: 1.25em;
    font-weight: lighter;
    width: 20em;
    visibility: hidden;
    background-color: rgb(50, 50, 50);
    text-align: left;
    padding: 1em;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 15%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -0.6em;
    border-width: 0.6em;
    border-style: solid;
    border-color: transparent rgb(50, 50, 50) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navbar {
    display: inline;
}
