<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

        {% if title %}
        <title>{{ title }} - jshen</title>
        {% else %}
        <title>Welcome To My Site! - jshen</title>
        {% endif %}

        <link rel="shortcut icon" href="/static/favicon.png"/>

    </head>
    
    <body>
        <div class = "navbar">
            <ul class="navbar">
                <li class="navbar" style="margin-right: 2em;"><h1 style="display: inline;" onclick="location.href='/home';">jshen.org</h1></li>
                <li class="navbar"><input type="button" class="button navbarbutton" onclick="location.href='/home';" value="Home" /></li>
                <!--<li class="navbar" style="margin-left:1em; margin-right: 1em;"><h3 style="display:inline;">Utilities</h3></li>-->
                <li class="navbar"><input type="button" class="button navbarbutton" onclick="location.href='/definition_generator';" value="Definitions Generator"/></li>
                <li class="navbar"><input type="button" class="button navbarbutton" onclick="location.href='/spotify-playlist-utilities';" value="Spotify PlayList Utilities"/></li>
            </ul>
        </div>
        <div class = "content">
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            <p>Email: <a href="mailto:jshe2304@gmail.com" style="color: white;">jshe2304@gmail.com</a></p>
        </footer>
    </body>
</html>