<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/base.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/basic.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/navigation.css') }}">

        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/def_generator.css') }}">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/spotify.css') }}">

        <link rel="shortcut icon" href="/static/favicon.png"/>

    </head>
    
    <body>

        <div class='html-wrapper'>
            <div>
                <header>
                    
                    <div class="header-logo">
                        <a href="/" class="logo">
                            j s h e (<i>n</i>)
                        </a>
                    </div>

                    <div class="nav">
                        <a href="/definitions">
                            <div class='nav-link nav-link-border'>
                                definition generator
                            </div>
                        </a>
                        
                        <a href="/spotify">
                            <div class='nav-link'>
                                spotify
                            </div>
                        </a>
                    </div>

                </header>
            </div>

            <div class = "content">
                {% block content %}{% endblock %}
            </div>

            <footer class="nav-border">
                <div class="nav">
                    <a href="mailto:jshe2304@gmail.com" target="_blank">
                        <div class='nav-link nav-link-border'>
                            email me
                        </div>
                    </a>

                    <a href="https://github.com/jshe2304/jshen.org" target="_blank">
                        <div class='nav-link nav-link-border'>
                            site code
                        </div>
                    </a>

                    <a href="https://melchin.org/oeuvre/" target="_blank">
                        <div class='nav-link nav-link-border'>
                            inspo
                        </div>
                    </a>

                    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
                        <div class='nav-link'>
                            guide i used
                        </div>
                    </a>

                </div>

            </footer>

        </div>

    </body>
</html>