{% extends "base.html" %}

{% block content %}
	<div>
		<div class="inner" id="form">
			<h1>Generate Definitions For A List Of Terms (Quizlet Compatible)</h1>
			<form action="" method="POST" enctype="multipart/form-data" novalidate>
				{{ form.hidden_tag() }}

				<div id="file" class="section">
					<h3>
						{{ form.file.label }} (DOCX, PDF, TXT)

						<span class="tooltip">
							?
							<span class="tooltiptext">File with terms to be defined. Must not exceed 20mb for security and performance reasons. Large files may be broken down into smaller files then submitted.</span>
						</span>
					</h3>
					<div class="standout">
						{{ form.file(class_="formbutton") }}
					</div>
				</div>		

				<div id="def_source" class="section">
					<h3>
						{{ form.def_source.label }}
						<span class="tooltip">
							?
							<span class="tooltiptext">Where the definition will be found. If the chosen source does not recognize the term, the other source will be used. If neither source recognizes it, the definition will be left blank.</span>
						</span>
					</h3>
					<div class="standout">
						{% for subfield in form.def_source %}
							<tr>
								<td>{{ subfield }}</td>
								<td>{{ subfield.label }}</td>
								<br>
							</tr>
						{% endfor %}
					</div>
				</div>

				<div id="omit_term" class="section">
					<h3>
						{{ form.omit_term.label }}
						<span class="tooltip">
							?
							<span class="tooltiptext">Select if you do not want to see the term when studying. For example, when you are looking at the definition to guess the term.</span>
						</span>
					</h3>
					<div class="standout">
						{{ form.omit_term }} Omit
					</div>
				</div>

				<div id="separator" class="section">
					<h3>
						{{ form.separator.label }}
						<span class="tooltip">
							?
							<span class="tooltiptext">What character separates the terms in your list? Inconsistent separating characters may lead to issues with the final definitions.</span>
						</span>
					</h3>
					<div class="standout">
						{% for subfield in form.separator %}
							<tr>
								<td>{{ subfield }}</td>
								<td>{{ subfield.label }}</td>
								<br>
							</tr>
						{% endfor %}
					</div>
				</div>
				
				<div id="flash" class = "section" style="background-color: red;">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<span style="margin: 1em;">{{ message }}</span>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>

				<div id="submit" class="section" style="margin-top: 2em;">
					{{ form.submit(class_="button formsubmitbutton") }}
				</div>
			</form>

			<a onClick="document.getElementById('help').scrollIntoView();">
				<span style="color: rgb(110, 110, 255);">Questions? Need Help?</span>
			</a>
		</div>

		<div class="inner" id="help">
			<h1 style="margin-bottom: 1em;">Help and FAQ</h1>

			<details>
				<summary>How Do I Turn This PDF Into A Quizlet Set?</summary>
				<p>The PDF is already formatted properly for input into Quizlet, you just need to copy it into existing functions of the website.</p>
				<ol>
					<li>Navigate to <b style="font-style: italic;">Create</b></li>
					<li>Create a <b style="font-style: italic;">Study Set</b></li>
					<li>Select the option to <b style="font-style: italic;">Import From Word, Excel, Google Docs, etc.</b></li>
					<li>Copy the entire PDF (Ctrl-a) and paste into the box.</li>
					<li>In the <b style="font-style: italic;">Between term and definition</b> custom field, type <b>\n</b></li>
					<li>In the <b style="font-style: italic;">Between cards</b> custom field, type <b>\n-\n</b></li>
					<li>Click <b style="font-style: italic;">Import</b></li>
					<li>View your new flashcard set!</li>
				</ol>
			</details>

			<details>
				<summary>File Taking a Long Time to Process</summary>
				<p>Don't worry! Especially if your list of words is long, it is supposed to take some time.</p>
				<p>Remember, the server has to search through massive databases to find each definition. Wikipedia alone has over 50 million!</p>
				<p>Estimate around 3-4 seconds per term!</p>
			</details>

			<details>
				<summary>File Not Processing</summary>
				<p>Check around your browser, see if you can find any indications that the page is loading or working somehow, as that indicates your file is being processed.</p>
				<p>If there is no such indication, check:</p> 
				<ul>
					<li>All fields are filled</li>
					<li>Your file is not corrupted</li>
					<li>Your file does not contain characters, images, etc. that may disturb the program</li>
				</ul>
			</details>

			<details>
				<summary>Definitions are Wrong, Inaccurate, or Nonexistent</summary>
				<p>First, try changing the source, as each source may yield different definitions. The dictionary is better for vocabulary words while Wikipedia is better for historical terms, scientific facts, etc.</p>
				<p>Second, try checking the spelling and formatting of your terms.</p>
				<p>Third, be aware that words may have multiple meanings. This program is not advanced enough to retrieve definitions specific to each user and I am too lazy to implement it. Sorry!</p>
			</details>

			<details>
				<summary>Error Messages</summary>
				<dl>
					<dt>Error 413</dt>
					<dd>File was too large (>20mb)</dd>
				</dl>
			</details>

			<details>
				<summary>How Does This Site Work?</summary>
				<p>This website is built with HTML, CSS, and JavaScript on the frontend, which is what you see.</p>
				<p>On the backend, the information inputted is processed with Python using a micro-framework called <a href="https://flask.palletsprojects.com/en/2.0.x/"><span style="color: rgb(110, 110, 255);">Flask</span></a>.</p>
				<p>The backend code, running on a server somewhere in Oregon, takes your inputted information and files, extracts the terms, looks for them through a dictionary or Wikipedia database, organizes the terms and definitions into a PDF, and downloads it to your computer.</p>
				<p>This website is hosted and run on AWS</p>
				<hr>
				<p>For the more technical people interested in the API endpoints used:</p>
				<p>Dictionary: "https://api.dictionaryapi.dev/api/v2/entries/en_US/" + term</p>
				<p>Wikipedia: "https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exsentences=2&explaintext&redirects=1&titles=" + term</p>
			</details>

			<details>
				<summary>This Website Sucks!</summary>
				<p>We have a new, better site that is waiting for this site to be dismantled! Try it out!</p>
				<input type="button" onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1'" value="Go to site" />
			</details>
		</div>
	</div>
{% endblock %}
